#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>
/ {
    behaviors {
        inc_dec_kp_2: behavior_sensor_rotate_key_press_2 {
            compatible = "zmk,behavior-sensor-rotate-key-press";
            label = "ENC_KEY_PRESS_2";
            triggers-per-rotation = <2>;
            #sensor-binding-cells = <2>;
            
        };
    };
};

&inc_dec_kp {
	triggers-per-rotation = <4>;
};
&def_lshft {
	triggers-per-rotation = <4>;
};

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			//MUTE | UP ARROW | DOWN ARROW
			//VOLUME UP | VOLUME DOWN
			bindings = <&kp C_MUTE &lt 4 UP &kp DOWN>;
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};
		one {
			//MUTE | VOLUME DOWN | VOLUME UP
			//UP ARROW | DOWN ARROW
			bindings = <&kp C_MUTE &lt 4 C_VOL_DN &kp C_VOL_UP>;
			sensor-bindings = <&inc_dec_kp_2 UP DOWN>;
		};
		two {
			//MUTE | VOLUME DOWN | VOLUME UP
			//PAGE UP | PAGE DOWN
			bindings = <&kp C_MUTE &lt 4 C_VOL_DN &kp C_VOL_UP>;
			sensor-bindings = <&inc_dec_kp_2 PG_UP PG_DN>;
		};
		three {
			//MUTE | PAGE UP | PAGE DOWN
			//VOLUME UP | VOLUME DOWN
			bindings = <&kp C_MUTE &lt 4 PG_UP &kp PG_DOWN>;
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
			
		};
		shift {
			//PREV | PLAY/PAUSE | NEXT
			bindings = <&bt BT_CLR &trans &rgb_ug RGB_TOG>;
			sensor-bindings = <&def_lshft>;
		};
	};
};
